.archive-view {
    background: skyblue;

    .post{
        position: relative;
        background: white;
    }

    .post__content{
        padding: 2em 2em 3em;
    }

    @media screen and (min-width: $query__medium) {
        &.has-sidebar {
            .site-content {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;   
            }
            .content-area{
                width: $size__ratio-large;
            }

            .widget-area{
                width: $size__ratio-small;
            }
            
        }
    }
}

.continue-reading {
    position: absolute;
    right: 0;
    bottom: 0;

    a {
        display: block;
        background: lightblue;
        padding: .5em 1em;
        font-size: 90%;
        text-decoration: none;

        &:focus,
        &:hover {
            color: white;
            background: $color__interactive;
        }
    }
}

.index-image {
    img {
        display: block;
        margin: 0 auto;
    }

    a {
        &:hover > img,
        &:focus > img {
            opacity: .7;
        }
    }
}