.archive-view {
    background: skyblue;

    .post,
    .page {
        position: relative;
        background: white;
    }

    .post__content{
        padding: 2em 2em 3em;
    }

    @media screen and (min-width: $query__medium) {
        &.has-sidebar {
            .site-content {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;   
            }
            .content-area{
                width: $size__ratio-large;
            }

            #secondary{
                width: $size__ratio-small;
            }

            .page-header{
                width: 100%;
                flex: 1 0 100%;
            }
            
        }
    }
}

.page-header {
    font: $font__sans;
}

.page-title {
    margin: 0 0 .5em;
}

.archive-descriptio {
    margin: -1em 0 2em;
}

.continue-reading {
    position: absolute;
    right: 0;
    bottom: 0;

    a {
        display: block;
        background: lightblue;
        padding: .5em 1em;
        font-size: 90%;
        text-decoration: none;

        &:focus,
        &:hover {
            color: white;
            background: $color__interactive;
        }
    }
}

.index-image {
    img {
        display: block;
        margin: 0 auto;
    }

    a {
        &:hover > img,
        &:focus > img {
            opacity: .7;
        }
    }
}

.sticky::before {
    content: "";
    display: block;
    width: 2em;
    height: 2em;
    background: yellow;
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 2em 2em 0;
    border-color: skyblue skyblue white;
    border-style: solid;
    box-shadow: -1px 2px 2px hsla(0, 0%, 10%, .1);
}

.search,
.error-404 {
    .page-content {
        margin-bottom: 2em;
        padding: 1em 2em;
        font-family: $font__sans;
        color: white;
        background: $color__interactive;
    }

    input[type="search"] {
        padding: .3em;
    }

    input[type="submit"] {
        border-color: white;
        
        color: black;
        background: white;

        &:focus,
        &:hover {
            color: white;
            background: blueviolet;
        

        }
    }
}