.site-header {
    position: relative;
    padding: 1em;
    font-family: $font__sans;
    color: #fff;
    background-color: $color__skin;

    @media screen and (min-width: $query__small) {
        padding: 1em 2em;
    }

}