.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.entry-header {
	font-family: $font__sans;
}

.cat-links {
	font-size: 90%;
	font-weight: 700;

	a {
		text-decoration: none;
		text-transform: uppercase;

		color: $color__interactive;

		&:hover,
		&:focus {
			background: $color__interactive;
			color: white;
		}
	}
}

.entry-title {
	margin: .125em 0 .25em;
	font-size:2.5em;

	@media screen and ($query__medium){
		font-size: 3em;
		
	}

	a {
		text-decoration: none;
		color: black;

		&:hover,
		&:focus {
			border-bottom: 5px solid;
		}
	}
}

.entry-meta{
	font-size: 90%;

	a {
		font-weight: 700;
		text-decoration: none;
		color: black;

		&:hover,
		&:focus {
			border-bottom: 3px solid;
		}
	}
}

.byline,
.posted-on,
.comments-link
 {
	&::after {
		content: "|";
		margin: 0 .5em;
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.extra {
	display: none;
}

/* Styling for Meta on single post with no sidebar */

.no-sidebar {
	.entry-meta {
		margin-top: 1.5em;
	}

	@media screen and (min-width: $query__medium) {
		.entry-meta {
			margin-top: 2.25em;
			font-size: 80%;

			a {
				font-size: 110%;
				display: block;
				border-bottom: 3px solid white;

				&:hover,
				&:focus {
					border-bottom-color: $color__interactive;
				}
			}
		}


		.byline,
		.posted-on,
		.comments-link,
		.edit-link{
			display: block;
			margin-bottom: 1em;

			&:before,
			&:after {
				margin: 0;
				content: "";
			}
		}

		.extra {
			display: inline;
		}

	}
}